@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Patrick Hand SC", sans-serif;
  font-weight: lighter;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
nav h1 {
  font-size: 2rem;
}
nav li,
nav a {
  font-size: 1.5rem;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.reset-a-tag {
  text-decoration: underline;
  color: #b44152;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#MainContent,
#Settings,
#About {
  background: linear-gradient(180deg, rgba(251, 219, 219, 0.79) 0%, rgba(251, 219, 219, 0.4503) 100%);
  margin: 1.5rem;
  min-height: 93vh;
  border-radius: 5px;
}

#Card {
  margin: 100px auto 0;
  width: 30rem;
  height: 20rem;
  perspective: 1000px;
}

#InnerCard {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

#InnerCard.is-flipped {
  transform: rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.card-face-back {
  background: white;
  transform: rotateY(-180deg);
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-header {
  position: relative;
  padding: 30px 30px 40px;
}

#BackText {
  font-size: 3rem;
  letter-spacing: 0.15em;
}

#FrontText {
  font-size: 3rem;
  text-align: center;
}

.card-body {
  padding: 30px;
}

.button-wrapper-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#GenerateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#GenerateBtn img {
  height: 2rem;
}

#Options,
#AboutText {
  display: block;
  width: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Options h1,
#AboutText h1 {
  padding: 0rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;
}

#AboutText .text-block p {
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.colorize {
  color: black;
}

.octo-switch {
  width: auto;
  display: block;
  position: relative;
  margin: 30px 0px 20px 0px;
}
.octo-switch .prompt {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.1rem;
}
.octo-switch .well {
  background: white;
  height: 20px;
  width: 65px;
  position: absolute;
  right: 50px;
  top: 7px;
  border-radius: 10px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #a5d4e4;
  cursor: pointer;
}
.octo-switch #NumberSystemSwitch,
.octo-switch #ColorSwitch {
  opacity: 0;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 29px;
  width: 140px;
  background: transparent;
  position: absolute;
  right: 0px;
  top: 3px;
  cursor: pointer;
  z-index: 100;
  color: tranparent;
}
.octo-switch #NumberSystemSwitch:after,
.octo-switch #ColorSwitch:after {
  content: "";
  background-color: transparent;
  height: 40px;
  width: 80px;
  position: absolute;
  left: 30px;
  top: -5px;
}
.octo-switch #NumberSystemSwitch ~ div.octo:before,
.octo-switch #ColorSwitch ~ div.octo:before {
  content: "🐙";
  position: absolute;
  right: 80px;
  top: -10px;
  font-size: 45px;
  z-index: 1;
  color: #53adcb;
  transition: all 0.25s ease-out;
}
.octo-switch #NumberSystemSwitch:checked,
.octo-switch #ColorSwitch:checked {
  right: 0px;
}
.octo-switch #NumberSystemSwitch:checked:after,
.octo-switch #ColorSwitch:checked:after {
  left: -80px;
}
.octo-switch #NumberSystemSwitch:checked ~ div.octo:before,
.octo-switch #ColorSwitch:checked ~ div.octo:before {
  content: "🐙";
  top: -10px;
  right: 41px;
}
.octo-switch #NumberSystemSwitch:checked ~ div.visible,
.octo-switch #ColorSwitch:checked ~ div.visible {
  opacity: 1;
  max-height: 900px;
  overflow: visible;
}
.octo-switch #NumberSystemSwitch ~ label:before,
.octo-switch #ColorSwitch ~ label:before {
  content: "No";
  position: absolute;
  color: #53adcb;
  left: -38px;
  top: 0px;
  font-size: 1.1rem;
}
.octo-switch #NumberSystemSwitch ~ label:after,
.octo-switch #ColorSwitch ~ label:after {
  content: "Yes";
  position: absolute;
  color: #bbbbbb;
  left: 80px;
  top: 0px;
  font-size: 1.1rem;
}
.octo-switch #NumberSystemSwitch:checked ~ label:before,
.octo-switch #ColorSwitch:checked ~ label:before {
  color: #bbbbbb;
}
.octo-switch #NumberSystemSwitch:checked ~ label:after,
.octo-switch #ColorSwitch:checked ~ label:after {
  color: #53adcb;
}
.octo-switch #NumberSystemSwitch ~ #NativeSino:before,
.octo-switch #ColorSwitch ~ #NativeSino:before {
  content: "Sino";
  position: absolute;
  color: #53adcb;
  left: -45px;
  top: 0px;
  font-size: 1.1rem;
}
.octo-switch #NumberSystemSwitch ~ #NativeSino:after,
.octo-switch #ColorSwitch ~ #NativeSino:after {
  content: "Native";
  position: absolute;
  color: #bbbbbb;
  left: 80px;
  top: 0px;
  font-size: 1.1rem;
}
.octo-switch #NumberSystemSwitch:checked ~ #NativeSino:before,
.octo-switch #ColorSwitch:checked ~ #NativeSino:before {
  color: #bbbbbb;
}
.octo-switch #NumberSystemSwitch:checked ~ #NativeSino:after,
.octo-switch #ColorSwitch:checked ~ #NativeSino:after {
  color: #53adcb;
}

@media screen and (max-width: 969px) {
  nav ul {
    width: 30%;
  }
}
@media screen and (max-width: 738px) {
  #Card {
    width: 26rem;
    height: 15rem;
  }

  nav ul {
    width: 35%;
  }
}
@media screen and (max-width: 622px) {
  #MainContent {
    margin: 0;
    padding-top: 2rem;
    min-height: 100vh;
  }

  #Card {
    width: 20rem;
    height: 12rem;
  }

  nav {
    flex-direction: column;
  }
  nav ul {
    margin-top: 0.5rem;
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  nav ul {
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  nav ul {
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 80%;
  }
}/*# sourceMappingURL=Main.css.map */