* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Patrick Hand SC", sans-serif;
	font-weight: lighter;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	h1 {
		font-size: 2rem;
	}
	li,
	a {
		font-size: 1.5rem;
	}
}

ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

.reset-a-tag {
	text-decoration: underline;
	color: #b44152;
}

#MainContent,
#Settings,
#About {
	background: linear-gradient(
		180deg,
		rgba(251, 219, 219, 0.79) 0%,
		rgba(251, 219, 219, 0.4503) 100%
	);
	margin: 1.5rem;
	min-height: 93vh;
	border-radius: 5px;
}

#Card {
	margin: 100px auto 0;
	width: 30rem;
	height: 20rem;
	perspective: 1000px;
}

#InnerCard {
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
	position: relative;
}

#InnerCard.is-flipped {
	transform: rotateY(-180deg);
}

.card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-front {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

.card-face-back {
	background: white;
	transform: rotateY(-180deg);
}

.card-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.card-header {
	position: relative;
	padding: 30px 30px 40px;
}

#BackText {
	font-size: 3rem;
	letter-spacing: 0.15em;
}

#FrontText {
	font-size: 3rem;
	text-align: center;
}

.card-body {
	padding: 30px;
}

.button-wrapper-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

#GenerateBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 50%;
	box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	img {
		height: 2rem;
	}
}

//Settings Page

#Options,
#AboutText {
	display: block;
	width: 40%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		padding: 0rem 2rem;
		margin-bottom: 2rem;
		border-bottom: 2px solid white;
	}
}

#AboutText {
	.text-block {
		p {
			padding-bottom: 1.5rem;
			font-size: 1.5rem;
		}
	}
}

.colorize {
	color: black;
}

// ---- special options switch 🐙 ---- //
.octo-switch {
	width: auto;
	display: block;
	position: relative;
	margin: 30px 0px 20px 0px;

	.prompt {
		display: inline-block;
		margin-top: 10px;
	}

	.well {
		background: white;
		height: 20px;
		width: 65px;
		position: absolute;
		right: 50px;
		top: 7px;
		border-radius: 10px;
		box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
		border: 1px solid lighten(darken(lightblue, 23%), 21%);
		cursor: pointer;
	}

	#NumberSystemSwitch,
	#ColorSwitch {
		opacity: 0;
		border: none;
		border-radius: 0;
		outline: none;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		height: 29px;
		width: 140px;
		background: transparent;
		position: absolute;
		right: 0px;
		top: 3px;
		cursor: pointer;
		z-index: 100;
		color: tranparent;

		&:after {
			content: "";
			background-color: transparent;
			height: 40px;
			width: 80px;
			position: absolute;
			left: 30px;
			top: -5px;
		}

		~ div.octo:before {
			content: "\1F419";
			position: absolute;
			right: 80px;
			top: -10px;
			font-size: 45px;
			z-index: 1;
			color: darken(lightblue, 23%);

			-moz-transition: all 0.25s ease-out;
			-webkit-transition: all 0.25s ease-out;
			-o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
		}

		&:checked {
			right: 0px;

			&:after {
				left: -80px;
			}

			~ div.octo:before {
				content: "\1F419";
				top: -10px;
				right: 41px;
			}

			~ div.visible {
				opacity: 1;
				max-height: 900px;
				overflow: visible;
			}
		}

		~ label {
			&:before {
				content: "No";
				position: absolute;
				color: darken(lightblue, 23%);
				left: -30px;
				top: 0px;
				font-size: 16px;
			}

			&:after {
				content: "Yes";
				position: absolute;
				color: lighten(gray, 23%);
				left: 80px;
				top: 0px;
				font-size: 16px;
			}
		}

		&:checked ~ label {
			&:before {
				color: lighten(gray, 23%);
			}
			&:after {
				color: darken(lightblue, 23%);
			}
		}

		// Label (Native/Sino)
		~ #NativeSino {
			&:before {
				content: "Sino";
				position: absolute;
				color: darken(lightblue, 23%);
				left: -37px;
				top: 0px;
				font-size: 16px;
			}

			&:after {
				content: "Native";
				position: absolute;
				color: lighten(gray, 23%);
				left: 80px;
				top: 0px;
				font-size: 16px;
			}
		}

		&:checked ~ #NativeSino {
			&:before {
				color: lighten(gray, 23%);
			}
			&:after {
				color: darken(lightblue, 23%);
			}
		}
	}
}

//Mobile Styles
@media screen and (max-width: 969px) {
	nav {
		ul {
			width: 30%;
		}
	}
}

@media screen and (max-width: 738px) {
	#Card {
		width: 26rem;
		height: 15rem;
	}
	nav {
		ul {
			width: 35%;
		}
	}
}

@media screen and (max-width: 622px) {
	#MainContent {
		margin: 0;
		padding-top: 2rem;
		min-height: 100vh;
	}
	#Card {
		width: 20rem;
		height: 12rem;
	}
	nav {
		flex-direction: column;
		ul {
			margin-top: 0.5rem;
			width: 40%;
		}
	}
}

@media screen and (max-width: 500px) {
	nav {
		ul {
			width: 50%;
		}
	}
}

@media screen and (max-width: 450px) {
	nav {
		ul {
			width: 60%;
		}
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 90%;
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 80%;
	}
}
